@font-face {
    font-family: "Calluna W01 Regular";
    src: url("Fonts/942319/bbb8bf0c-7cf7-43e6-ba9b-468044f3f6dc.eot?#iefix");
    src: url("Fonts/942319/bbb8bf0c-7cf7-43e6-ba9b-468044f3f6dc.eot?#iefix") format("eot"), url("Fonts/942319/62ad54ed-a020-4fc1-a3dc-21e31bf8d52a.woff2") format("woff2"), url("Fonts/942319/c1b12dfe-db8e-49f0-94ac-7ad0bf217f90.woff") format("woff"), url("Fonts/942319/ec589ae8-c434-4ce6-a7e7-d7a4a77535d0.ttf") format("truetype");
  }
  
  body, html, #root{
    height: 100%;

    margin: 0;

    /* overflow-x: hidden; */

  }

  body {
    font-family: 'Raleway', sans-serif;
    color: #CABCB0
  }

  /* CSS FOR PARALLAX EFFECT */
  
  .section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 100vh;
    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
  }
  
  /* The styling for the static div. */
  
  .static {
    background: beige;
  }
  
  /* Sets the actual background images to adorable kitties. This part is crucial. */
  
  .bg1::after {
    background-image: url('./adult-beanie-crisis-220365.jpg');
  }
  
  .bg2::after {
    background-image: url('https://placekitten.com/g/800/600');
  }
  
  /* .container {
    height: 100%;
  } */

  
/* CSS FOR STORIES PAGE*/
  .story1, .story2, .story3{
    display: none;
  }
  
  .bioImage-1,.bioImage-2,.bioImage-3{
    padding:0
  }
  
  .spacer
  {
      width: 100%;
      height: 75px;
  }
  
  .text-back{
    background-color: #efefef;
    padding-top: 10px;
    height: 300px;
    overflow-y: scroll;
  }

  .noscroll{
    overflow: hidden;
  }
  
  h2, h5, h6{
    padding-left: 15px
  }
  
  .text-back>button, .modal-footer>button{
  float: right;
  color: #CABCB0;
  margin: 15px 0;
  }
  
  .text-back>button:hover, .modal-footer>button:hover{
    color: #CABCB0;
    }
  
  h5{
    text-align: justify;
    text-justify: inter-word;
  }

/* CSS FOR STORIES PAGE END*/

  .navbar.scrolled{
    background:#000;
  }

  

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #676862;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494948;
}
