@font-face {
    font-family: "Calluna W01 Regular";
    src: url("Fonts/942319/bbb8bf0c-7cf7-43e6-ba9b-468044f3f6dc.eot?#iefix");
    src: url("Fonts/942319/bbb8bf0c-7cf7-43e6-ba9b-468044f3f6dc.eot?#iefix") format("eot"), url("Fonts/942319/62ad54ed-a020-4fc1-a3dc-21e31bf8d52a.woff2") format("woff2"), url("Fonts/942319/c1b12dfe-db8e-49f0-94ac-7ad0bf217f90.woff") format("woff"), url("Fonts/942319/ec589ae8-c434-4ce6-a7e7-d7a4a77535d0.ttf") format("truetype");
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    color: #CABCB0
  }
  
  #titleStore {
    font-family: "Calluna W01 Regular";
  }
  
  .navbar a {
    color: #cabcb0
  }
  
  .navbar-brand {
    font-size: 1.75em
  }
  
  #titleCity {
    font-size: .7em;
    letter-spacing: 0.2em;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(202,188,176, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar {
    background-color: transparent;
    z-index: 20;
  }
  
  ul li {
    padding: 0 5px
  }
  
  @media only screen and (max-width:990px) {
    .navbar li {
      padding: 0
    }
  }
  
  @media only screen and (min-width:990px) {
    .active, ul a:hover {
      color: #A5B9B9 !important;
      border-bottom: 2px solid #A5B9B9
    }
  }
  
  .icon-bar {
    width: 22px;
    height: 2px;
    background-color: #cabcb0;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
  }
  
  .navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
  
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
  
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
  
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  
  .navbar-default {
    transition: 500ms ease;
    background: transparent;
  }
  
  .navbar-default.scrolled {
    background: #000;
  }
  
  /* CSS FOR PARALLAX EFFECT */
  
  .wrapper {
    /* The height needs to be set to a fixed value for the effect to work.
       * 100vh is the full height of the viewport. */
    height: 100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
    /* Enable scrolling on the page. */
    overflow-y: auto;
    /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
  }
  
  .section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 100vh;
    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
  }
  
  .parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Move the pseudo-element back away from the camera,
       * then scale it back up to fill the viewport.
       * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1);
    /* Force the background image to fill the whole element. */
    background-size: 100%;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
  }
  
  /* The styling for the static div. */
  
  .static {
    background: beige;
  }
  
  /* Sets the actual background images to adorable kitties. This part is crucial. */
  
  .bg1::after {
    background-image: url('./adult-beanie-crisis-220365.jpg');
  }
  
  .bg2::after {
    background-image: url('https://placekitten.com/g/800/600');
  }
  
  .container {
    height: 100%;
  }
  
  .bio1, .bio2, .bio3 {
    font-size: 24px;
  }
  
  .bioImage {
    margin-bottom: 20px;
    margin-top: 20px
  }
  
  /* body{min-height:200vh;} */
  .navbar{
    transition:500ms ease;
  }
  .navbar.scrolled{
    background:#000;
  }

  

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #676862;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494948;
}